<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="principal">
        <div id="navbar">
            <p> SISTEMA  Empleados</p>           
        </div>
    
        <div id="bodyid">
        <div id="sidebar">
            <h1>¡Bienvenidos!</h1>

        </div>

    <div id="renderbody">
        @RenderBody()
    </div>
    </div>
</body>
</html>
