@{
    ViewData["Title"] = "Index Home";
}
   
@section SideBar{ 
<h2 style="color:black"><img style="width:30px" src="~/imagenes/cara.png" /> ¡Bienvenidos!</h2> 
}
@*@Html.ActionLink("Ir a Empleados","Index","Empleado")*@
