.container{
    color: white;
    text-align: center;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
}

.container header {
    color: white;
    height:120px;
    text-align: center;
    background-color: lightskyblue;
}

#sidebar{
    background-color:white;
    text-align:left;
}

.container nav {
    background-color: lightgreen;
    overflow: hidden;
    line-height: 3.5vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flexbox;
    color: white;

}


#renderbody {
    width: 100%;
    min-height: 400px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
}

.container footer {
    background-color: lightskyblue;
    color: white;
    overflow: hidden;
    line-height: 5vh;
}
#navSec a{
    color:white!important;

}

